<h2>Search {{ inputted }}</h2>

<div>
  <input #searchBox id="search-box" [(ngModel)]="inputted" />
  <button (click)="search(searchBox.value)">Search</button>
</div>
<div *ngIf="SearchResults">
  <ul>
    <li *ngFor="let result of SearchResults.search_results">
      <a routerLink="/text/{{result.title}}" routerLinkActive="active">Text {{result.title}}</a>
      <div *ngIf="result.search_api_excerpt" [innerHTML]="result.search_api_excerpt"></div>
    </li>
  </ul>
</div>
<div *ngIf="NotFound == true">
  <h3>No results found for "{{ inputted }}"</h3>
</div>
