/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: "Raleway", sans-serif; /* 1 */
  font-size:0.9rem;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  background-color: #636363;
  color:#fff;
}

a {
 color:#4B0082;
}
a:hover, a:focus {
  color:#9400d3;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

details[open] SUMMARY ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

.light-panel {
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  color: #555;
  padding:2rem;
  margin:0.5rem;
  border-radius:5px;
  -moz-box-shadow:    1px 1px 2px 2px #303030;
  -webkit-box-shadow: 1px 1px 2px 2px #303030;
  box-shadow:         1px 1px 2px 2px #303030;
}