/* You can add global styles to this file, and also import other style files */
html, body {
  font-size:0.9rem;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  background-color: #fff;
  color:#black;
}

a {
 color:#4B0082;
}
a:hover, a:focus {
	color:#9400d3;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}