.search-results {
	background:#fff;
	color:#000;
	border-radius:5px;
	padding:0.5rem;
}
.search-headings {
	font-weight:bold;
	 padding:0.5rem;	
}
.search-result {
	font-size:0.9rem;
  border-radius:5px;
  padding:0.5rem;	
}
.search-result:nth-child(even) {
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
}
.search-facets ul {
	list-style-type: none;
	background-color:#fff;
	color:#000;
	border-radius:0px 0px 5px 5px;
	padding-left:1rem;
}
.search-facets input[type=checkbox] {
	margin-right:0.5rem;
}
.search-facets summary {
  background-color: #585858;
  padding:0.5rem;
  border-radius:5px 5px 0px 0px;
}
.search-facets details {
	margin-bottom:0.5rem;
}