<div class="container home">
  <div class="row">
    <a routerLink="/search" routerLinkActive="active" class="feature col-md-5">
      <h2>Corpus Researcher</h2>
      I am interested in statistical analysis of large bodies of text using standard corpus linguistics tools.
    </a>
    <a routerLink="/repository" routerLinkActive="active" class=" feature col-md-5">
      <h2>Instructor</h2>
      I am interested in finding example student texts, assignment sheets, and syllabi for use in my classroom or research.
    </a>
  </div>
  <div class="row">
    <a routerLink="/repository" routerLinkActive="active" class="feature col-md-5">
      <h2>Student</h2>
      I am interested in finding example papers to help me understand genre conventions and citations.
    </a>
    <a routerLink="/repository" routerLinkActive="active" class="feature col-md-5">
      <h2>Learn More</h2>
      I want an introduction to corpus research and the resources in this repository.
    </a>
  </div>
</div>